.App {
  background-color: rgba(1, 1, 1, 0.8);
  width: 1000px;
  height: 100hv;
  margin: 10px auto;
  padding: 15px 15px;
  font-size: 1.2em;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

input {
  width: 500px;
  height: 30px;
  font-size: 1.2em;
  font-family: "Indie Flower", cursive;
  border-radius: 5px;
}

.add {
  margin-left: 10px;
  height: 44px;
  font-family: "Indie Flower", cursive;
  width: 200px;
  font-size: 1.3em;
  padding-bottom: 10px;
  border-radius: 5px;
}

.add:hover {
  cursor: pointer;
}
